[Desktop Entry]
Name=WM Theme Installer
Name[pl]=Instalator motywów WM
Comment=WindowMaker theme installation program
Comment[pl]=Program instalacyjny motywów WindowMakera
Exec=wmthemeinstall
Terminal=0
Type=Application
# vi: encoding=utf-8
