[Desktop Entry]
Name=WM Theme Installer
Name[pl]=Instalator motywów WM
Comment=WindowMaker theme installation program
Comment[pl]=Program instalacyjny motywów WindowMakera
Exec=wmthemeinstall
Terminal=false
Type=Application
# vi: encoding=utf-8
